<p id="notice"><%= notice %></p>

<h1>就職活動の予定</h1>

<div class="table">
  <ul>
    <li>タイトル</li>
    <li>時間</li>
  </ul>
</div>

<%# <table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>時間</th>
      <th colspan="3"></th>
    </tr>
  </thead> %>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.start_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog.id) %></td>
        <td><%= link_to 'Destroy',blog_path(blog.id), method: :delete, data: { confirm: '本当に消しちゃって良いん？?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '予定を書く', new_blog_path %>

<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog %>
    </div>
  <% end %>
<% end %>